/* block element modifier V .themeapp__button--blacktheme */
/* problems may be due to not being scss */

.themeapp {
    &__button {

    &--whitetheme {
        background-color: White;
        color: black; 
    }

    
    &__blacktheme { 
        background-color:black;
        color: white; 
    }
}
}